@model IEnumerable<Oppimispäiväkirja_versio1.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">OPPIMISPÄIVÄKIRJA</h1>
        <h3><em>Lisää aiheita, kirjoita muistiinpanoja ja seuraa edistymistäsi.</em></h3>
    </div>
</section>
<div class="container-fluid">
    <div class="text-left">
        <p>
            <br/>
            <a asp-action="Create" class="btn btn-light" button style='font-size: 18px'>Kirjoita uusi muistiinpano<i class='fas fa-cat'></i></a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Topic.Title)*@
                       Aiheen otsikko:
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.NoteText)*@
                        Muistiinpano:
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="col-sm-10">
                        @Html.DisplayFor(modelitem => item.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoteText)
                    </td>
                    <td>
                        <a class="bs-tooltip-top" title="Muokkaa" asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">&#xe3c9;</i></a>  |
                        <a class="bs-tooltip-top" title="Detaljit" asp-action="Details" asp-route-id="@item.Id"><i class="material-icons">&#xe8a5;</i></a>  |
                        <a class="bs-tooltip-top" title="Poista" asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons">&#xe92b;</i></a>  
                    </td>
                </tr>
                }
            </tbody>
        </table>
      </div>
</div>