@model Oppimispäiväkirja_versio1.Models.Topic

@{
    ViewData["Title"] = "Delete";
}
<section class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">OPPIMISPÄIVÄKIRJA</h1>
        <h3><em>Lisää aiheita, kirjoita muistiinpanoja ja seuraa edistymistäsi.</em></h3>
    </div>
</section>
<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="text-center">
                 <div class="row">
                    <div class="col-md-4">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EstimatedTimeToMaster)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EstimatedTimeToMaster)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TimeSpent)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TimeSpent)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Source)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Source)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StartLearningDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StartLearningDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InProgress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InProgress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CompletionDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CompletionDate)
                    </dd>
                    </dl>

                    <form asp-action="Delete" id="delete">
                        <input id="Id" type="hidden" asp-for="Id" />
                        <input type="submit" value="Poista" class="btn btn-danger" />
                        <br />
                        <a asp-action="Index">Takaisin listaan</a>
                    </form>
                </div>
            </div>
        </div>

     </section>

