@model IEnumerable<Oppimispäiväkirja_versio1.Models.Topic>

@{
    ViewData["Title"] = "Index";
}


<section class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">OPPIMISPÄIVÄKIRJA</h1>
        <h3><em>Lisää aiheita, kirjoita muistiinpanoja ja seuraa edistymistäsi.</em></h3>
        </div>
</section>
<section>
    <div class="container-fluid">
        <div class="text-left">
            <p>
                <br/>
                <a asp-action="Create" class="btn btn-light" button style="font-size: 18px">Aloita uusi aihe<i class='fas fa-cat'></i></a>
            </p>
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Title)*@
                                Otsikko
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Description)*@
                                Kuvaus
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.EstimatedTimeToMaster)*@
                                Työmäärä tunneissa
                            </th>
                            <!--<th>-->
                            @*@Html.DisplayNameFor(model => model.TimeSpent)*@
                            <!--Aikaa käytetty
                    </th>-->
                            <th>
                                @*@Html.DisplayNameFor(model => model.Source)*@
                                Lähdemateriaali
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.StartLearningDate)*@
                                Aloituspäivä
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.InProgress)*@
                                Opiskelu kesken
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.CompletionDate)*@
                                Lopetuspäivä
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.EstimatedTimeToMaster)
                            </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.TimeSpent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Source)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartLearningDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InProgress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompletionDate)
                                </td>
                                <td>
                                    <a class="bs-tooltip-top" title="Muokkaa" asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">&#xe3c9;</i></a>  |
                                    <a class="bs-tooltip-top" title="Detaljit" asp-action="Details" asp-route-id="@item.Id"><i class="material-icons">&#xe8a5;</i></a>  |
                                    <a class="bs-tooltip-top" title="Poista" asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons">&#xe92b;</i></a>  

                                    @*<a asp-action="Edit" asp-route-id="@item.Id">
            <i class="material-icons">&#xe3c9;</i>
        </a> |*@
                                    @*<a asp-action="Details" asp-route-id="@item.Id"><i class="material-icons">&#xe8a5;</i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons">&#xe92b;</i></a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>



